<html>
    <head>
        <title>Climate fingerprints</title>
        <script src="https://d3js.org/d3.v4.js"></script>

        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        
        <style>
        
         /* Tooltip container */
         .tooltip {
             position: relative;
             display: inline-block;
             border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
         }

         /* Tooltip text */
         .tooltip .tooltiptext {
             visibility: hidden;
             width: 120px;
             background-color: black;
             color: #fff;
             text-align: center;
             padding: 5px 0;
             border-radius: 6px;
             
             /* Position the tooltip text - see examples below! */
             position: absolute;
             z-index: 1;
         }
         /* Show the tooltip text when you mouse over the tooltip container */
         .tooltip:hover .tooltiptext {
             visibility: visible;
         }

         /* Overlay background */
         #instructionPopup {
             position: fixed;
             top: 0;
             left: 0;
             width: 100vw;
             height: 100vh;
             background: rgba(0, 0, 0, 0.7);
             display: flex;
             align-items: center;
             justify-content: center;
             z-index: 9999;
         }

         /* Popup content box */
         .popup-content {
             background: white;
             padding: 2rem;
             border-radius: 10px;
             text-align: center;
             max-width: 500px;
             box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
         }

         .popup-content h2 {
             margin-top: 0;
         }

         .popup-content button {
             margin-top: 1.5rem;
             padding: 0.6rem 1.2rem;
             font-size: 1rem;
             cursor: pointer;
             border: none;
             border-radius: 5px;
             background-color: #007bff;
             color: white;
         }

         /* Optional: disable scrolling when popup is active */
         body.popup-active {
             overflow: hidden;
         }

         .square {
             display: inline-block;
             width: 1em;
             height: 1em;
             vertical-align: middle;
             border: 2px solid black;
         }

         .red {
             background-color: red;
         }
         .blue {
             background-color: blue;
         }
         .green {
             background-color: green;
         }
         .black {
             background-color: black;
         }
         .grey {
             background-color: grey;
         }
        </style>

    </head>
    <body>
        <h1>Climate detective</h1>

        <!-- Instruction Popup -->
        <div id="instructionPopup">
            <div class="popup-content">
                <h2>Welcome Climate Detective!</h2>
                <p>How much time is left before we reach 2 degrees warming?</p>
                <p>Try matching temperature change over the last 150 years</p>
                <ul style="text-align: left;">
                    <li><span class="square red"></span> Greenhouses gases warm the climate</li>
                    <li><span class="square blue"></span> Aerosols cool the climate (by changing clouds)</li>
                    <li><span class="square green"></span> Natural changes (mostly volcanos) cool the climate</li>
                </ul>

                <p>To get started:</p>
                <ol style="text-align: left;">
                    <li>Use the sliders and simple climate model to get the best match between</li>
                    <ul style="text-align: left;">
                        <li><span class="square black"></span> Simulated temperatures</li>
                        <li><span class="square grey"></span> Measured temperatures</li>
                    </ul>
                    <li>Press the submit button to see your result.</li>
                </ol>
                <button onclick="closePopup()">Let's go!</button>
            </div>
        </div>

        <h3>Use the sliders to match the temperature change over the last 150 years</h3>
        
        <section id="plot">
            <div id="CO2plot"></div>
        </section>

        
        <div style="display: none;">
            <div id="result">Loading...</div>
        
            <div id="budget">Loading...</div>
            <div id="fraction">Loading...</div>
            <div id="fit_score">Loading...</div>
            <div id="aer_temp">Loading...</div>
        </div>


        <div id="sliders">
            <div id="variable_selector"></div>

            <!-- 
                 <button id='simulate' onclick="loadAndRun('static/temps.csv')">Simulate</button> -->

            <button id='submit' onclick="submitCarbonBudget()">Submit</button>
        </div>

                
        <script>
         var variable_data =
             /* Data for the variable table. Should be in the form
                ID, start val, min, max, step, label, name*/
             [["ghg", 2, 0, 4, 0.001, "Greenhouse Gases",
               "Red: Temperature scaling for greenhouse gases", "red"],
              ["aer", 2, 0, 4, 0.001, "Aerosol",
               "Blue: Temperature scaling for aerosol cooling", "blue"],
              ["nat", 2, 0, 4, 0.001, "Natural",
               "Green: Temperature scalig for natural forcings (volcanic and solar)", "green"]]

         function closePopup() {
             document.getElementById('instructionPopup').style.display = 'none';
             document.body.classList.remove('popup-active');
         }
         
         function createTable(tab) {
             var tar = document.getElementById(tab);
             var table = document.createElement('TABLE');
             table.border = '1';
             var tbdy = document.createElement('TBODY');
             table.appendChild(tbdy);
             tbdy.insertAdjacentHTML('beforeend', "<tr><td>Measured Temperatures</td><td><span class='square grey'></span></td><td></td></tr>");
             tbdy.insertAdjacentHTML('beforeend', "<tr><td>Simulated Temperatures</td><td><span class='square black'></span></td><td></td></tr>");
             for (var j = 0; j < variable_data.length; j++) {
                 var tr = document.createElement('TR');
                 tbdy.appendChild(tr);
                 var td = document.createElement('TD');
                 td.innerHTML = "<label for="+variable_data[j][0]+" class='tooltip'>"+variable_data[j][5]+"<span class='tooltiptext'>"+variable_data[j][6]+"</span></label>";
                 tr.appendChild(td);

                 var td = document.createElement('TD');
                 td.innerHTML = "<span class='square "+variable_data[j][7]+"'></span>";
                 tr.appendChild(td);

                 var td = document.createElement('TD');
                 td.innerHTML = "<input type=range id="+variable_data[j][0]+" value="+variable_data[j][1]+" min="+variable_data[j][2]+" max="+variable_data[j][3]+" step="+variable_data[j][4]+" oninput='loadAndRun(&quot;static/temps.csv&quot;);' />";
                 tr.appendChild(td);
             }
             tar.appendChild(table);
         }

         createTable('variable_selector');

         var axis = null;
         var yaxis = null;
         var output_data = [];
         var svg = null;

         //This part is fixed
         var year_min = 1850;
         var year_max = 2100;
         var year_max_temp = 2024;
         var year_len = year_max-year_min;
         var year_len_temp = year_max_temp-year_min;
         var years = new Float32Array(year_len);
         for (y=0; y<year_len; y++) {
             years[y] = year_min+y;
         }
         var co2_2020_cum_emissions = 1.70;
         var annual_co2_emissions_2024 = 0.0363
         
         //CO2 reserviors, all empty in PI
         var ghgtemp = new Float32Array(year_len);
         var aertemp = new Float32Array(year_len);
         var nattemp = new Float32Array(year_len);
         var tottemp = new Float32Array(year_len);
         var actualtemp = new Float32Array(year_len);
         
         function rmsd(arr1, arr2) {
             if (arr1.length !== arr2.length) {
                 throw new Error("Arrays must be of the same length");
             }

             const n = arr1.length;
             const sumSquares = arr1.reduce((sum, val, i) => {
                 const diff = val - arr2[i];
                 return sum + diff * diff;
             }, 0);

             return Math.sqrt(sumSquares / n);
         }

         function score(rmsd) {
             return Math.max(0, (100 - 2000*(rmsd-0.207)));
         }
         
         function submitCarbonBudget() {
             two_deg_index = tottemp.findIndex(x => x > 2);
             two_deg_time = (tottemp[two_deg_index]-2)/(tottemp[two_deg_index]-tottemp[two_deg_index-1])  + (two_deg_index-year_len_temp);
             temp_2020 = tottemp[year_len_temp];
             aer_2020 = aertemp[year_len_temp];
             carbon_budget = (100*(2-temp_2020)/2);
             
             fit_score = score(rmsd(actualtemp.slice(0, year_len_temp),
                                    tottemp.slice(0, year_len_temp)));

             document.getElementById('fraction').innerHTML = 'Remaining Carbon Budget: '+carbon_budget.toFixed(1)+'%';
             document.getElementById('budget').innerHTML = 'Remaining time (no action): '+two_deg_time+' years';
             document.getElementById('fit_score').innerHTML = 'Score:' +fit_score;
             document.getElementById('aer_temp').innerHTML = 'Aerosol:' +aer_2020.toFixed(2);

             fetch('http://localhost:5000/trigger?x='+carbon_budget+'&y='+aer_2020+'&t='+two_deg_time+'&value='+fit_score)
             }

         
         function loadAndRun(filename) {
             
             d3.csv(filename, function(indata) {
                 var start = Date.now();
                 let finalMessage = '';

                 
                 // These parts could be user-modifiable
                 let ghg_scale = parseFloat(document.querySelector("#ghg").value)/1.7;
                 let aer_scale = parseFloat(document.querySelector("#aer").value)/0.8;
                 let nat_scale = parseFloat(document.querySelector("#nat").value)/2;
                 
                 // Make some plots
                 let newplot = true
                 
                 let datavarname = 'Temp. Anomaly';
                 if (newplot) { output_data = [] };
                 output_data.push([]);

                 console.log(indata)
                 for (let yearind = 1; yearind < year_len; yearind++) {
                     actualtemp[yearind] = indata[yearind+100].temps_enso;
                     ghgtemp[yearind] = ghg_scale*indata[yearind+100].ghg_temp;
                     aertemp[yearind] = aer_scale*indata[yearind+100].aero_temp;
                     nattemp[yearind] = nat_scale*indata[yearind+100].nat_temp;
                     
                     tottemp[yearind] = (ghgtemp[yearind] +
                                         aertemp[yearind] +
                                         nattemp[yearind])
                     output_data[output_data.length-1].push({year: years[yearind],
                                                             tottemp: tottemp[yearind],
                                                             ghgtemp: ghgtemp[yearind],
                                                             aertemp: aertemp[yearind],
                                                             nattemp: nattemp[yearind],
                                                             acttemp: actualtemp[yearind]});
                     };
                 
                 // set the dimensions and margins of the graph
                 var margin = {top: 10, right: 30, bottom: 30, left: 60},
                     width = 660 - margin.left - margin.right,
                     height = 400 - margin.top - margin.bottom;
                 
                 //var svg = d3.select("#CO2plot");

                 // If fixed box is checked and plot already exists, don't redraw axes,
                 // just append new line to plot
                 if (newplot) {
                     // remove old plot
                     svg = d3.select("#CO2plot");
                     svg.selectAll('*').remove();
                     
                     // append the svg object to the body of the page
                     svg = d3.select("#CO2plot")
                                 .append("svg")
                                 .attr("width", width + margin.left + margin.right)
                                 .attr("height", height + margin.top + margin.bottom)
                                 .append("g")
                                 .attr("transform",
                                       "translate(" + margin.left + "," + margin.top + ")");

                     // Add X axis --> it is a date format
                     xaxis = d3.scaleLinear()
                               .domain([year_min, year_max])
                               .range([ 0, width ]);
                     svg.append("g")
                        .attr("transform", "translate(0," + height + ")")
                        .call(d3.axisBottom(xaxis).tickFormat(d3.format("d")));

                     svg.append("text")             
                        .attr("transform",
                              "translate(" + (width/2) + " ," + 
                             (height + margin.top + 20) + ")")
                        .style("text-anchor", "middle")
                        .text("Year");
                     
                     // Add Y axis
                     yaxis = d3.scaleLinear()
                     /* .domain([d3.min(output_data[output_data.length-1], function(d) { return +d.acttemp; }),
                      *          d3.max(output_data[output_data.length-1], function(d) { return +d.acttemp; })]) */
                     .domain([-1.5, 3])
                               .range([ height, 0 ]);
                     svg.append("g")
                        .call(d3.axisLeft(yaxis));

                     svg.append("text")
                        .attr("transform", "rotate(-90)")
                        .attr("y", 0 - margin.left)
                        .attr("x",0 - (height / 2))
                        .attr("dy", "1em")
                        .style("text-anchor", "middle")
                        .text(datavarname);
                 }
                 
                 // Add the line
                 svg.append("path")
                    .datum(output_data[output_data.length-1].slice(0, year_len_temp))
                    .attr("fill", "none")
                    .attr("stroke", "gray")
                    .attr("stroke-width", 2)
                    .attr("d", d3.line()
                                 .x(function(d) { return xaxis(d.year) })
                                 .y(function(d) { return yaxis(d.acttemp) })
                    )
                 // Add the line
                 svg.append("path")
                    .datum(output_data[output_data.length-1])
                    .attr("fill", "none")
                    .attr("stroke", "black")
                    .attr("stroke-width", 2)
                    .attr("d", d3.line()
                                 .x(function(d) { return xaxis(d.year) })
                                 .y(function(d) { return yaxis(d.tottemp) })
                    )
                 svg.append("path")
                    .datum(output_data[output_data.length-1])
                    .attr("fill", "none")
                    .attr("stroke", "red")
                    .attr("stroke-width", 2)
                    .attr("d", d3.line()
                                 .x(function(d) { return xaxis(d.year) })
                                 .y(function(d) { return yaxis(d.ghgtemp) })
                    )
                 svg.append("path")
                    .datum(output_data[output_data.length-1])
                    .attr("fill", "none")
                    .attr("stroke", "blue")
                    .attr("stroke-width", 2)
                    .attr("d", d3.line()
                                 .x(function(d) { return xaxis(d.year) })
                                 .y(function(d) { return yaxis(d.aertemp) })
                    )
                 svg.append("path")
                    .datum(output_data[output_data.length-1])
                    .attr("fill", "none")
                    .attr("stroke", "green")
                    .attr("stroke-width", 2)
                    .attr("d", d3.line()
                                 .x(function(d) { return xaxis(d.year) })
                                 .y(function(d) { return yaxis(d.nattemp) })
                    )
                     
                 document.getElementById('result').innerHTML = 'took: '+ (Date.now() - start) / 1000 + ' seconds';
                 submitCarbonBudget();
             });
             };
         
             loadAndRun('static/temps.csv')
        </script>
    </body>
</html>
